


.responsive-pfp-img{
    width:75px;
    height:75px;
}


@media (max-width: 576px) {
    .responsive-pfp-img {
        width:40px;
        height:40px;
    }
  }


  .responsive-pfp-img:hover{
    cursor:pointer
  }

  .friend-container-username:hover{
    cursor:pointer;
    text-decoration: underline;
  }
