.login-page {
    /* background: linear-gradient(to bottom, yellow, orange); */
    display: flex;
    padding-top: 15%;
    justify-content: center;
    height: 100vh;
  }

h1{
    color:#007bff;
    font-weight:bolder
}

.login-box {
  background-color: white;
  padding:10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

}
  
form {
  display:flex;
  flex-direction: column;
  padding:1vh;
}

.newuser {
  width:80%;
  align-self:center;
}