.pfp-offset{
    position:relative;
    bottom: 60px; /* Adjust the offset from the bottom as needed */
    left: 100px; /* Adjust the offset from the right as needed */
    width: 50px; /* Replace with your desired width */
    height: 50px; /* Replace with your desired height */
    background-color: red;
}

.flex-column-sm{
    position:relative;
    bottom:25px;
}

@media (max-width: 576px) {
    .flex-column-sm {
        
      flex-direction: column !important;
      align-items: center;
    }
  }
